<span fie-body='true'>
  <%= yield %>

  <% assigns.map do |assigns_name, assigns_value| %>
    <% unless assigns_value.nil? || assigns_name == :marked_for_same_origin_verification %>
      <% encryptor = ActiveSupport::MessageEncryptor.new Rails.application.credentials[:secret_key_base] %>
      <span fie-variable='<%= assigns_name %>' fie-value='<%= encryptor.encrypt_and_sign Marshal.dump(assigns_value) %>'></span>
    <% end %>
  <% end %>

  <span fie-controller='<%= params[:controller] || @fie_controller_name %>' fie-action='<%= params[:action] || @fie_action_name %>'></span>
</span>
